    <!-- Audience Section -->
    <section id="audience" class="content-section text-center">
        <div class="audience-section">
            <div class="container">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2> Intended audience </h2>
                    <p>You should attend the tutorial if you: </p>
                    <ul>
                        <li class="p-li">
                            are a researcher working with Semantic Web Technology (e.g., ontology matching, semantic reconciliation, table annotation) 
                            looking to discover new industry-driven, real-world application scenarios for your work,
                        </li>
                        <li class="p-li">
                            have recently entered into the Semantic Web community and want learn not only about new application scenarios, 
                            but also about challenging problems, the solution of which may have significant impact both in the industry as well 
                            as in other science fields, where analyses on top of semantically enriched data may be bring added value application 
                            scenarios for your work,
                        </li>
                        <li class="p-li">
                            are a practitioner/worker in industry and want to learn about concrete use cases for using Semantic Web Technology to 
                            support data-driven innovation at scale.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>