    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="https://europa.eu/european-union/sites/europaeu/files/docs/body/flag_yellow_low.jpg" height="64px" alt="...">     
                </div>
                <div class="media-body">
                        This tutorial is based on research carried out with funding from the European Union's Horizon 2020 
                            research and innovation program projects <a href="http://www.eubusinessgraph.eu">euBusinessGraph</a> and <a href="http://www.ew-shopp.eu">EW-Shopp</a> under grant agreements No 732003 and No 732590.
                    </div>
                <div class="media-right">
                    <a href="https://www.ew-shopp.eu/" target="_blank">
                        <img class="media-object" src="img/ews.png" height="64px" alt="...">
                    </a>
                </div>
                <div class="media-right">
                    <a href="http://eubusinessgraph.eu/" target="_blank">
                        <img class="media-object" src="img/eubg.png" height="64px" alt="...">
                    </a>
                </div>
                
            </div>
        </div>
    </footer>
