    <!-- Media Section -->
    <section id="media" class="content-section text-center">
        <div class="player-section">
            <div class="container">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Media</h2>
                    <p> See our tools in action!</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6b8t8iM_7ZI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                     
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/liA0ahRj9Nw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



