    <!-- Program Section -->
    <section id="program" class="container content-section">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Program</h2>
                <p>The tutorial will be a half-day tutorial, requiring approximately three hours including presentations 
                    and a hands-on section. The draft schedule proposed for the tutorial is the following:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <ul class="timeline">
                    <li>
                        <h4>Data enrichment for data science 
                                <span class="badge"><i class="fa fa-clock-o"></i> 45 min</span>
                            </h4>
                        <p>Topics: challenges; semantics technologies as key enablers; 
                            analytics with enriched data: use cases from industry-driven data science projects.</p>
                    </li>
                    <li>
                        <h4>State-of-the-art: semantic data enrichment for data science 
                                <span class="badge"><i class="fa fa-clock-o"></i> 45 min</span>
                            </h4>
                            <p>Topics: semantic table annotation tools and techniques; doing it with OpenRefine: 
                                lessons learned and limitations; data enrichment with batch pipelines: lessons learned and limitations;
                                    user-driven data enrichment at scale: the Grafterizer/ASIA approach; QMiner and data 
                                    analytics on top of enriched data.</p>
                    </li>
                    <li>
                            <h4>A toolkit for user-driven data enrichment at scale endowed with robust analytical modeling 
                                    <span class="badge"><i class="fa fa-clock-o"></i> 30 min</span>
                                </h4>
                            <p>Topics: the Grafterizer/ASIA data transformation tool: cleaning, annotating 
                                and enriching data; QMiner: data analytics on top of enriched data.</p>
                    </li>
                    <li>
                            <h4>Hands-on session: digital marketing data enrichment with weather data and analytical modelling 
                                    <span class="badge"><i class="fa fa-clock-o"></i> 60 min</span>
                                </h4>
                            <p>Environment set up; design of the data transformation workflows with Grafterizer/ASIA; 
                                batch execution of the transformations on a larger data set; training the predictive model with QMiner; deployment 
                                of the predictive model.</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>

