    <!-- Download Section -->
    <section id="resources" class="content-subsection text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Resources (Slides & Hands-On Session)</h2>
                    <p>Get all the datasets, slides and instructions you will need!</p>
                    <a class="btn btn-default btn-lg disabled">Online Soon</a>
                </div>
            </div>
        </div>
    </section>