    <!-- Download Section -->
    <section id="resources" class="content-subsection text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Resources (Slides & Hands-On Session)</h2>
                    <p>Get all the datasets, slides and instructions you will need!</p>
                    <a class="btn btn-default btn-lg" href="resources/semantic-data-enrichment-resources.zip">Get the Resources</a>
                </div>
                <div class="content-slides col-lg-8 col-lg-offset-2">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://docs.google.com/presentation/d/e/2PACX-1vRjqFCwkpGqwD-NvXYOz3XlzKeIihhqLbA--kbMa7_vGkaCKNv9vaCzmnNoW2EnKZ2WkCPvF3wrMajh/embed?start=false&loop=false&delayms=3000" frameborder="0" width="570" height="350" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>