    <!-- Contact Section -->
    <section id="speakers" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Speakers</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <div class="single-team">
                    <img src="img/palmonari.jpg" alt="">
                    <div class="team-hover">
                       <div class="team-content">
                          <h4>Matteo Palmonari <span>PhD</span></h4>
                          <ul>
                            <li><a href="http://inside.disco.unimib.it/index.php/people/matteo-palmonari/" target="_blank"><i class="fa fa-link"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/matteo-palmonari-3aa95720/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://twitter.com/MatteoPalmonari" target="_blank"><i class="fa fa-twitter"></i></a></li>
                          </ul>
                       </div>
                    </div>
                 </div>
            </div>
            <div class="col-md-2">
               <div class="single-team">
                   <img src="img/roman.png" alt="">
                   <div class="team-hover">
                      <div class="team-content">
                         <h4>Dumitru Roman <span>PhD</span></h4>
                         <ul>
                           <li><a href="http://www.linkedin.com/in/titiroman" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                         </ul>
                      </div>
                   </div>
                </div>
           </div>
            <div class="col-md-2">
                <div class="single-team">
                    <img src="img/cutrona.jpg" alt="">
                    <div class="team-hover">
                       <div class="team-content">
                          <h4>Vincenzo Cutrona <span></span></h4>
                          <ul>
                             <li><a href="http://inside.disco.unimib.it/index.php/people/vincenzo-cutrona/" target="_blank"><i class="fa fa-link"></i></a></li>
                             <li><a href="https://twitter.com/vcutrona9" target="_blank"><i class="fa fa-twitter"></i></a></li>
                          </ul>
                       </div>
                    </div>
                 </div>
            </div>
            <div class="col-md-2">
                <div class="single-team">
                    <img src="img/nikolay.jpg" alt="">
                    <div class="team-hover">
                       <div class="team-content">
                          <h4>Nikolay Nikolov <span></span></h4>
                          <ul>
                             <li><a href="https://www.linkedin.com/in/nikolay-nikolov-a9672659/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                             <li><a href="https://twitter.com/nvnikolov" target="_blank"><i class="fa fa-twitter"></i></a></li>
                          </ul>
                       </div>
                    </div>
                 </div>
            </div>
            <div class="col-md-2">
                <div class="single-team">
                    <img src="img/aljaz.jpg" alt="">
                    <div class="team-hover">
                       <div class="team-content">
                          <h4>Aljaž Košmerlj <span>PhD</span></h4>
                          <ul>
                             <li><a href="https://www.linkedin.com/in/alja%C5%BE-ko%C5%A1merlj-170a7a5a/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                          </ul>
                       </div>
                    </div>
                 </div>
            </div>
        </div>
    </section>